.gp_image{
  width: 45%;
}
.gp_information{
  width: 55%;
  padding-left: 2%;
  padding-right: 2%;
}
.gp_information input{
  display: block;
  width: 100%;
  height: 2.3rem;
  margin-bottom: 10px;
}
#gp_introduce{
  height: 5rem;
}

.container2{
  background-color: #FAE0D4;
}
.unselected, .selected{
  width: 46%;
  margin: 0 2%;
}
.box{
  height: 20rem;
  border: 1px solid;
}
